
/*************************************************************************************************************************************************************************************************************************************************************

"userContent.css" is a custom CSS file that can be used to specify CSS style rules for Floorp's internal site using "chrome" privileges.
For instance, if you want to apply CSS at "about:newtab" and "about:home", you can use the following CSS rule:

***********************************************************************
@-moz-document url-prefix("about:newtab"), url-prefix("about:home") { *
                                                                      *
* Write your css *                                                    *
                                                                      *
}                                                                     *
***********************************************************************

NOTE: You can use the userContent.css file without change preferences (about:config)

************************************************************************************************************************************************************************************************************************************************************/

@charset "UTF-8";
/* Please write your custom CSS under this line*/

/* html {
    background-color: transparent !important;
}

body {
    background-color: transparent !important;
}

:root {
    background-color: transparent !important;
} */

/* html[data-darkreader-mode] body a {{
    color: rgb({color2.rgb}) !important;
  }}
  
  @-moz-document regexp('^(?!http).*') {{
    :root>* {{
      background: rgb({background.rgb}) !important;
    }}
  }}
  
  #urlbar-input-container, .urlbarView {{
    background-color: color-mix(in srgb, rgb({background.rgb}) 87%, black);
  }}
  
  #navigator-toolbox, #urlbar-background {{
    background: rgb({background.rgb}) !important;
  }} */